## データの永続化

## SQLite

軽量データベースを実装するC言語のライブラリ
サーバ用のプロセスを必要としない，組み込み型のデータベースエンジン．
単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [2]:
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

In [4]:
path = ''
db_name = 'car.db'
conn = None  # Khởi tạo conn trước

try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'
    cur.execute(sql)
    conn.commit()  # Nên thêm commit để lưu thay đổi
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    if conn:  # Chỉ đóng nếu conn đã được tạo
        conn.close()

NameError: name 'sqlite3' is not defined

In [2]:

path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで);
    # 文字列データを挿入する場合は，文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

NameError: name 'conn' is not defined